{% load static %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
<div style="text-align: center">
    <p> Do you want to remove this ingredient from your fridge?</p>
    <form method="post" action="{% url 'delete ingredient' pk=object.pk %}">
        <button class="ingredient-button">Yes</button>
        <button type="button" class="ingredient-button"
                onclick="window.location.href='{% url 'my ingredients'%}'" style="width: 17rem">
            No
        </button>
        {% csrf_token %}
    </form>
</div>