div {
    border-style: outset;
    border-color: rosybrown;
    display: grid;
    grid-row-start: auto;
    grid-area: auto;
    grid-auto-flow: column;
    grid-auto-rows: auto;
    grid-gap: 5px;
}

form {
    display: inline-grid;
}

.ingredient-button {
    display: inline-block;
    cursor: pointer;
    margin: 1rem;
    background-color: beige;
    border-color: rosybrown;
}

.block {
    border-style: outset;
    border-color: rosybrown;
    margin: 10px;
    background-color: beige;
    align-items: center;
    text-align: center;
    text-decoration: None;
}